@media(max-width:768px){
    .gnb{
        display: none;
    }
    .menu-btn{
        display: flex;
    
    }
    .about-wrap{
        flex-direction: column;
    }
    .about-wrap img{
        width: 100%;
    }
}
@media(max-width:390px){
    .visual h2{
font-size: 48px;
    }
    .visual p{
font-size: 18px;
    }
}